<html>
<head>
    <title>Foot Career</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('content/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('content/css/lity.min.css') }}">
</head>
<body>
    <div class="wrapper" style="background-image: url('{{ asset('content/img/first_bg.png') }}'); background-repeat: no-repeat;">
        <div class="container-fluid">
            <div class="mycontainer">
                <div class="row">
                    <div class="top-bar">
                        <div class="col-md-3">
                            <div class="logo">
                                <img src="{{ asset('content/img/logo.png') }}">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="menu">
                                <ul>
                                    <li><a href="#">HOME</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="#">NEWS</a></li>
                                    <li><a href="#">SUPPORT</a></li>
                                    <li><a href="#">CAMP</a></li>
                                    <li><a href="#">SUMMER CAMP</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding: 0; margin: 0;">
                            <div class="side_nav" style="text-align: right;">
                                <a style="color: #fff;" href="">LOG IN / SIGN IN <span class="fa fa-sign-in"></span></a> &nbsp; &nbsp; 
                                <span class="dropdown">
                                    <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 1px solid #fff; padding: 3px; border-radius:3px; color: #fff; font-size: 12px; text-decoration: none;">EN</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 60px!important; margin-top: 5px;">
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">EN</a></li>
                                  </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top-bar end -->

        <div class="spc"></div>

        <div class="container-fluid">
            <div class="mycontainer">
                <div class="row">
                    <div class="second-section">
                        <div class="col-md-12">
                            <div class="big-heading">FOOT CAREER</div>
                            <div class="small-heading">FOOTBALL IS NOT JUST A GAME</div>
                            <div class="top-btn">
                                <a href="" class="btn top-join">JOIN NOW</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="menu2">
                                <ul>
                                    <a href="#">Facebook</a>
                                    <a href="#">Vkontacte</a>
                                    <a href="#">Linkedin</a>
                                    <a href="#">Instagram</a>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="big-heading-2">START YOUR FOOTBALL CAREER WITH FOOTCAREER</div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="spc"></div> -->
                        <div class="banner">
                            <div class="col-md-4">
                                <div class="big-for">FOR</div>
                                <div class="big-for" style="margin-top: -5px;">COACH</div>
                                <div class="for-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore
                                </div>
                                <div class="for-btn">
                                    <a href="" class="btn btn-default bnr">MORE FOR COACH</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="big-for">FOR</div>
                                <div class="big-for" style="margin-top: -5px;">PLAYER</div>
                                <div class="for-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore
                                </div>
                                <div class="for-btn">
                                    <a href="" class="btn btn-default bnr">MORE FOR PLAYER</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="big-for">FOR</div>
                                <div class="big-for" style="margin-top: -5px;">AGENT</div>
                                <div class="for-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore
                                </div>
                                <div class="for-btn">
                                    <a href="" class="btn btn-default bnr">MORE FOR AGENT</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second section end -->



        <div class="container-fluid">
            <div class="mycontainer">
                <div class="row">
                    <div class="video-section">
                        <div class="col-md-12">
                            <div class="video-first">
                                <div class="video-heading">VIDEO</div>
                                <div class="video-heading" style="margin-top: -5px;">FROM USERS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-main" style="margin: 0 auto;">
                <div class="col-md-8" style="padding: 0; margin: 0;">
                    <div class="video-left" style="background-image: url('content/img/flying.png'); background-size: cover; background-position: center; z-index: 1; width: 100%; height: 440px; position: relative;">
                        <a href="https://youtu.be/ikJ1QX68GW8" data-lity>
                            <div class="button1" style="position: absolute; top: 40%; left: 40%; ">
                                <div class="button2" style="padding:6px;border-radius: 100px;  background: ; border:2px solid white;">
                                    <div class="button3" style="padding:6px;border-radius: 100px;  background: ; border:2px solid white;">
                                        <div class="button4" style="border-radius: 100px; border:5px solid white; text-align: center; padding:30px 33px; background: rgb(255,255,255,0.5);">
                                            <span class="fa fa-play" style="color: #fff; font-size: 25px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 0; margin: 0;">
                    <div class="video-right" style="background-image: url('content/img/edge.png'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 440px;">
                        <div class="vright-h">REGISTER TO WATCH MORE VIDEOS.</div>
                        <div class="vright-para">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                            <br>
                            consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </div>
                        <div class="vright-btn" style="text-align: center; margin-top: 15px;">
                            <a href="" class="btn top-join" style="color: #fff;">JOIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video section end -->



        <div class="container-fluid">
            <div class="video-main" style="margin: 0 auto;">
                <div class="col-md-12" style="padding: 0; margin: 0;">
                    <div class="video-left" style="background-image: url('content/img/mobile.png'); background-size: cover; background-position: center; background-size: cover; z-index: 1; width: 100%; height: 750px; position: relative;">
                        <div class="centerdata" style="width: 400px; height: 500px; background:;position: absolute; top: 0; position: absolute;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);">
                            <div class="mh">GETTING STARTED</div>
                            <div class="mh" style="margin-top: -8px;">IS PRETTY SIMPLE</div>
                            <div class="mt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Ut enim ad minim veniam.
                            </div>
                            <div class="ios">
                                <div class="col-md-4">
                                    <div class="ios-h">IOS</div>
                                </div>
                                <div class="col-md-8">
                                    <a href="#">
                                        <div class="iosbtn"></div>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="ios-p">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut magna aliqua.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="android">
                                <div class="col-md-4">
                                    <div class="android-h">ANDROID</div>
                                </div>
                                <div class="col-md-8">
                                    <a href="#">
                                        <div class="anbtn"></div>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="and-p">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="rightimg" style="position: absolute; top: 0; right: 0; z-index: 1;">
                        <img src="content/img/mobile2.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- video section end -->



        <div class="container-fluid" style="margin-top: 300px;">
            <div class="bottom-banner-main" style="background-image: url('content/img/sec_bg.png'); height: 800px; margin-top: 70px;">

                <div class="mycontainer">
                    <div class="row">
                        <div class="bottom-banner-section" style="background-image: url('content/img/black.png'); height: 330px; width: 100%;margin-top: -150px; position: relative;">
                            <div class="col-md-8">
                                <div class="b-banner-first">
                                    <div class="b-banner-heading">WITH US</div>
                                    <div class="b-banner-heading" style="margin-top: -5px;">TOGETHER</div>
                                    <div class="b-banner-para">
                                        Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit, <br>sed do eiusmod
                                        tempor incididunt <br> et dolore magna aliqua. <br> Ut enim ad minim veniam, <br>
                                        quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm hidden-xs" style="position: relative;">
                                <div class="b-banner-right">
                                    <div class="b-banner-right-name">NAME</div>
                                    <div class="b-banner-right-name" style="margin-top: -5px;">LASTNAME</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="banner-center" style="width: 480px; height: 450px; position: absolute; top: -120px; position: absolute;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%); background-image: url('content/img/white.png');">
                                <div class="content-abs">
                                    <div class="numbers">01</div>
                                    <div class="numbers">-</div>
                                    <div class="numbers">10</div>
                                    <div class="abs-name">NAME</div>
                                    <div class="abs-name" style="margin-top:-5px;">LASTNAME</div>
                                    <div class="abs-btn">
                                        <a href="">MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- banner code end -->
                        </div>
                    </div>
                </div>
                    <div class="about" style="height: 550px; background-image: url('content/img/about.png');">
                        <div class="about-main" style="width: 750px; padding-top: 160px; background:; margin: 0 auto; height: ;">
                            <div class="about-left" style="background:; width: 300px; float: right;">
                                <div class="ab-name" style="height: 100px;">
                                    <div class="about-heading"></div>
                                    <div class="about-heading" style="margin-top: -5px;"></div>
                                </div>
                                <div class="about-para" style="margin-top: 5px;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <br>
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor.
                                    <div class="anchor" style="text-align: right;">
                                        <div><a style="text-decoration: none;" href="">READ MORE <span class="fa fa-long-arrow-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-right" style="margin-right:15px; background:; width: 300px; float: right;">
                                <div class="ab-name" style="height: 100px;">
                                    <div class="about-heading">ABOUT</div>
                                    <div class="about-heading" style="margin-top: -5px;">FOOTCAREER</div>
                                </div>
                                <div class="about-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <br>
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor.
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="count-main hidden-sm hidden-xs" style="width: 1200px; margin: 0 auto;">
                            <div class="counts" style="width: 840px; height: 160px; background:; float: right;">
                                <div class="divide">
                                    <div class="c-h">480</div>
                                    <div class="c-p">
                                        hello this is paragraph.
                                    </div>
                                </div>
                                <div class="divide">
                                    <div class="c-h">300</div>
                                    <div class="c-p">
                                        hello this is paragraph.
                                    </div>
                                </div>
                                <div class="divide">
                                    <div class="c-h">15k</div>
                                    <div class="c-p">
                                        hello this is paragraph.
                                    </div>
                                </div>
                                <div class="divide">
                                    <div class="c-h">400</div>
                                    <div class="c-p">
                                        hello this is paragraph.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <!-- bottom banner section end -->



        <div class="container-fluid">
            <div class="bottom-banner-main" style="height: 400px;">
                <div class="mycontainer">
                    <div class="row">
                        <div class="video-section">
                            <div class="col-md-12">
                                <div class="video-first">
                                    <div class="video-heading">FOOTBALL</div>
                                    <div class="video-heading" style="margin-top: -5px;">NEWS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-slider">
                    <div class="allnews">
                        <a href="#">ALL NEWS</a>
                    </div>
                    <div class="main-sec">
                        <div class="slide-sec">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- news slideshow section end -->



        <div class="container-fluid">
            <div class="bottom-banner-main" style="background-image: url('content/img/bgbg.png'); height: 575px; margin-top: 350px;">
                <div class="mycontainer">
                    <div class="row">
                        <div class="kids-banner-section" style="background-image: url('content/img/kids.png'); height: 500px; width: 100%; margin-top: -300px;">
                            <div class="form" style="width: 50%; padding-top: 190px; margin: 0 auto; background:; height: ;">
                                <div class="reg-h">START REGISTRATION NOW!</div>
                                <form action="" method="POST">
                                    <div class="fields">
                                        <div class="col-md-6">
                                            <input type="text" name="" class="myinp" placeholder="Your name *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="" class="myinp" placeholder="Your e-mail *">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <input type="password" name="" class="myinp" placeholder="Create a password *">
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <!-- <input type="submit" class="regbtn " value="JOIN NOW"> -->
                                            <div class="vright-btn2" style="text-align: center; margin-top: 15px;">
                                                <a href="" class="btn top-join" style="color: #fff;">JOIN NOW</a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- form code end -->

                        <div class="container-fluid">
                            <div class="bottom-banner-main" style="height: 400px;">
                                <div class="mycontainer">
                                    <div class="row">
                                        <div class="video-section">
                                            <div class="col-md-12">
                                                <div class="video-first">
                                                    <div class="video-heading">OUR</div>
                                                    <div class="video-heading" style="margin-top: -5px;">PARTNERS</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-slider">
                                    <div class="main-sec2">
                                        <div class="slide-sec2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- news slideshow section end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- brand slider section end -->


            <div class="container-fluid" style="margin-bottom: ; z-index: 0;">
                <div class="map1" style="width: 100%; height: 350px; background-image: url('content/img/map.png'); background-size: cover; background-repeat: no-repeat;">
                    <!-- <img src="content/img/map.png" style="width: 100%;"> -->
                </div>
            </div>


        <div class="container-fluid" style="margin-top:-100px;;">
            <div class="bottom-banner-main" style="height: 575px;">
                <div class="mycontainer">
                    <div class="row">
                        <div class="kids-banner-section" style="background-image: url('content/img/reg.png'); height: 500px; width: 80%; border-radius: 7px 7px 0 0; margin: 0 auto;">
                            <div class="reg-top" style="height: 100px; border-radius: 5px 5px 0 0; margin-top: 0px; background: white; z-index: 1;">
                                <div style="width: 80%; padding: 25px 0 22px 0; margin: 0 auto;">
                                    <div class="icon-img" style="text-align: center; margin-top: -65px;">
                                        <img src="content/img/icon.png">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="reg-location" style="">
                                            <span style="font-family:'Exo 2', sans-serif;">LOCATION</span> 
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                            <span style="font-family:'Roboto', sans-serif;">57 pro des golfeurs</span>
                                        </div>
                                        <div class="reg-location" style="padding-top: 10px;">
                                            <span style="font-family:'Exo 2', sans-serif;">FRANCE</span>
                                             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                             <span style="font-family:'Roboto', sans-serif;">77600 bussy-saint Georges</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="reg-location" style="">
                                            <span style="font-family:'Exo 2', sans-serif;">E-mail</span>
                                        </div>
                                        <div class="reg-location" style="padding-top: 10px;"> 
                                             <span style="font-family:'Roboto', sans-serif;"><a href="#">office@footcareer.com</a></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form" style="width: 80%; padding-top: 70px; margin: 0 auto;">
                                <div class="reg-h">STILL HAVE QUESTIONS!</div>
                                <form action="" method="POST">
                                    <div class="fields">
                                        <div class="col-md-6">
                                            <input type="text" name="" class="myinp" placeholder="Your name *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="" class="myinp" placeholder="Your e-mail *">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <input type="password" name="" class="myinp" placeholder="Your question *">
                                        </div>
                                        <div class="col-md-12" style="text-align: center;">
                                            <!-- <input type="submit" class="regbtn " value="JOIN NOW"> -->
                                            <div class="vright-btn2" style="text-align: center; margin-top: 15px;">
                                                <a href="" class="btn top-join" style="color: #fff; padding: 15px 45px;">SEND</a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- form register end -->



        <div class="container-fluid">
            <div class="subscribe-main" style="background-image: url('content/img/ball.png'); height: 127px;">

                <div class="mycontainer">
                    <div class="row">
                        <div class="subfooter" style="width: 80%; margin: 0 auto; background:orange;">
                            <div class="main-sb">
                                <div class="sb-left">
                                    <div>I WANT TO RECEIVE INTERESTING NEWS AND OFFERS</div>
                                </div>
                                <div class="sb-right">
                                    <div class="form">
                                        <input type="text" name="" class="sbinpt" placeholder="E-mail *">
                                        <input type="submit" class="sbbtn" name="" value="ENTER">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subfooter section end -->



        <div class="container-fluid">
            <div class="subscribe-main" style="background:#333;">
                <div class="mycontainer">
                    <div class="row">
                        <div class="footer1">
                            <div class="col-md-2">
                                <div class="flogo">
                                    <img src="content/img/logof.png">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="fmenu">
                                    <ul>
                                        <li><a href="">HOME</a></li>
                                        <li><a href="">ABOUT</a></li>
                                        <li><a href="">NEWS</a></li>
                                        <li><a href="">SUPPORT</a></li>
                                        <li><a href="">CAMP</a></li>
                                        <li><a href="">SUMMER CAMP</a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 rightf">
                                <a href="">Confidentiality</a> &nbsp;  &nbsp;  &nbsp;  &nbsp; 
                                <a href="">Terms of use</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="footer2">
                            <div class="col-md-2">
                                <div class="flogo2" style="color: #fff; padding-top: 20px;">&#169; 2019 
                                    <a href="#">footcareer.com</a> <br>
                                    All rights reserved
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="fmails">
                                    office@footcareer.com &nbsp;  &nbsp;  &nbsp;  &nbsp; office@footcareer.com
                                </div>
                            </div>
                            <div class="col-md-3 rightf">
                                <a href="">Sitemap</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section end -->
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
    <script type="text/javascript" src="{{ asset('content/js/lity.min.js') }}"></script>
</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
  var singleSliderObj = [
    {index:1, titlecarddate:"21.10.19", titlecard:"NEWS ARTICLE TITLE", imgsrc:"https://www.w3.org/TR/wai-aria-practices/examples/carousel/images/lands-endslide__800x600.jpg", desctext:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",/* date:"21.10.19",*/ place:"<a href='#' class='readmorelink'>READ MORE <i class='fa fa-arrow-right' style='font-size:10px;'></i></a>"},
    {index:2, titlecarddate:"21.10.19",  titlecard:"This is the Second slider", imgsrc:"https://www.w3.org/TR/wai-aria-practices/examples/carousel/images/lands-endslide__800x600.jpg", desctext:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",/* date:"1st Jan,2019",*/ place:"<a href='#' class='readmorelink'>READ MORE <i class='fa fa-arrow-right' style='font-size:10px;'></i></a>"},
    {index:3, titlecarddate:"21.10.19",  titlecard:"This is the Third slider", imgsrc:"https://www.w3.org/TR/wai-aria-practices/examples/carousel/images/lands-endslide__800x600.jpg", desctext:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",/* date:"1st Jan,2019",*/ place:"<a href='#' class='readmorelink'>READ MORE <i class='fa fa-arrow-right' style='font-size:10px;'></i></a>"},
    {index:4, titlecarddate:"21.10.19",  titlecard:"This is the Fourth slider", imgsrc:"https://www.w3.org/TR/wai-aria-practices/examples/carousel/images/lands-endslide__800x600.jpg", desctext:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",/* date:"1st Jan,2019",*/ place:"<a href='#' class='readmorelink'>READ MORE <i class='fa fa-arrow-right' style='font-size:10px;'></i></a>"},
    {index:5, titlecarddate:"21.10.19",  titlecard:"This is the Fiveth slider", imgsrc:"https://www.w3.org/TR/wai-aria-practices/examples/carousel/images/lands-endslide__800x600.jpg", desctext:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",/* date:"1st Jan,2019",*/ place:"<a href='#' class='readmorelink'>READ MORE <i class='fa fa-arrow-right' style='font-size:10px;'></i></a>"}
  ];

  function outputIt() {
    for (var i = 0; i < singleSliderObj.length; i++) {
      // console.log(outputs);
      var outputs = '<div id="'+ singleSliderObj[i].index +'">'+
          '<div class="singlecard">'+
          '<div class="singlecard-header">'+
          '<img data-lazy="'+ singleSliderObj[i].imgsrc +'">'+
          '</div>'+
          '<div class="singlecard-body">'+
          '<div class="singlecard-content">'+
          '<div class="singlecard-date2"><strong>'+ singleSliderObj[i].titlecarddate +'</strong></div>'+
          '<div class="singlecard-title"><strong>'+ singleSliderObj[i].titlecard +'</strong></div>'+
          '<div class="singlecard-text">'+
          '<p style="">'+ singleSliderObj[i].desctext +'</p>'+
          '<p>'+
          '<span class="singlecard-index"><em>Experience '+ singleSliderObj[i].index +'</em></span>'+
          '<span class="singlecard-date"><em>'+ singleSliderObj[i].date +'</em></span>'+
          '<span class="singlecard-place"><span>'+ singleSliderObj[i].place +'</span></span>'+
          '</p>'+
          '</div>'+
          '</div>'+
          '</div>';
      $('.slide-sec').append(outputs);
    }
  }
  outputIt();

  $('.slide-sec').slick({
    lazyLoad: 'ondemand',
    // speed: 500,
    slidesToShow: 2,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    dots:false
  });
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
  var singleSliderObj = [
    {index:1, imgsrc:"content/img/first.png"},{index:2, imgsrc:"content/img/second.png"},{index:3, imgsrc:"content/img/third.png"},{index:4, imgsrc:"content/img/fourth.png"},{index:5, imgsrc:"content/img/fifth.png"},{index:6, imgsrc:"content/img/sixth.png"},{index:7, imgsrc:"content/img/first.png"},{index:8, imgsrc:"content/img/second.png"}
  ];

  function outputIt() {
    for (var i = 0; i < singleSliderObj.length; i++) {
      // console.log(outputs);
      var outputs = '<div id="'+ singleSliderObj[i].index +'">'+
          '<div class="singlecard">'+
          '<div class="singlecard-header">'+
          '<img data-lazy="'+ singleSliderObj[i].imgsrc +'">'+
          '</div>'+
          '</div>'+
          '</div>';
      $('.slide-sec2').append(outputs);
    }
  }
  outputIt();

  $('.slide-sec2').slick({
    lazyLoad: 'ondemand',
    // speed: 500,
    slidesToShow:6,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    dots:false
  });
});
</script>